<body>
  <header>
    <section id="logo">
      <a href="#"
        ><img src="../../../assets/img/login/uaa10.png" alt="logo"
      /></a>
    </section>
  </header>

  <!--menu horizontal -->
  <nav id="menu1">
    <ul>
      <li><a routerLink="/paginaprincipal" >Inicio</a></li>
      <li><a routerLink="/busqueda">Documentos</a></li>
      <li><a href="#">Normativas</a></li>
      <li>
        <a href="#">Busquedas</a>
        <ul class="submenu">
          <li><a routerLink="/autor">Autor</a></li>
          <li><a routerLink="/carrera">Carrera</a></li>
          <li><a routerLink="/centro">Centro</a></li>
          <li><a routerLink="/materia">Materia</a></li>
          <li><a routerLink="/tema">Tema</a></li>
          <li><a routerLink="/fecha">Fecha</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!--banner -->

  <section id="banner">
    <img src="../../../assets/img/login/uaaletras.jpg" alt="" />
  </section>
  <!--banner -->

  <section id="contenedor">
    <!--Menu Vertical -->
    <nav id="menu-v">
      <ul>
        <li>
          <a routerLink="/busqueda"
            ><img src="../../../assets/img/login/buscar.png" alt="" /> Buscar</a
          >
        </li>
        <li>
          <a routerLink="/autor"
            ><img src="../../../assets/img/login/autor.png" alt="" /> Autor</a
          >
        </li>
        <li>
          <a routerLink="/carrera"
            ><img src="../../../assets/img/login/carrera.png" alt="" />
            Carrera</a
          >
        </li>
        <li>
          <a routerLink="/centro"
            ><img src="../../../assets/img/login/centro.png" alt="" /> Centro</a
          >
        </li>
        <li>
          <a routerLink="/materia"
            ><img src="../../../assets/img/login/materia.png" alt="" />
            Materia</a
          >
        </li>
        <li>
          <a routerLink="/tema"
            ><img src="../../../assets/img/login/tema.png" alt="" /> Tema</a
          >
        </li>
        <li>
          <a routerLink="/fecha"
            ><img src="../../../assets/img/login/fecha.png" alt="" /> Fecha</a
          >
        </li>
      </ul>
    </nav>
    <!--Menu Vertical -->

    <!--Contenido -->
    <section id="contenido">
      <div>
        <form>
          <input type="text" name="" placeholder="Que estas buscando?..." />
          <input type="submit" name="" value="Buscar" />
        </form>
      </div>
      <br />
      <br />
      <br />
      <h2>Repositorio Intitucional de la UAA</h2>
      <p>
        El Repositorio Institucional de la UAA permite integrar, publicar y
        consultar los contenidos académicos que genera y resguarda la
        Universidad
      </p>
      <br>
      <h2>Documentos Destacados</h2>

      <embed  class="pdfview" src="../../../assets/pdf/flujosdatos.pdf" type="application/pdf" width="49%" height="400px"/>
      
      <embed  class="pdfview" src="../../../assets/pdf/mongo10.pdf" type="application/pdf" width="49%" height="400px"/>
      <br>
      <p>
           Departamento de Ciencias Basicas     y       Departamento de Ciencias Sociales
      </p>
     <br> 

     
     

      <embed  class="pdfview" src="../../../assets/pdf/cov10.pdf" type="application/pdf" width="49%" height="400px"/>
      
      <embed  class="pdfview" src="../../../assets/pdf/codigo10.pdf" type="application/pdf" width="49%" height="400px"/>
      
      <p>
           Departamento de Ciencias de la Salud     y       Departamento de Psicología 
      </p>
     

    </section>

    <!--Contenido -->
  </section>
  <footer>
    Derechos Reservados Copy; 2021 <br />
    Diseñado por: Jose Avila <br />
    www.dominio.com <br />
  </footer>
</body>
