<body>
  <header>
    <section id="logo">
      <a href="#"
        ><img src="../../../assets/img/login/uaa10.png" alt="logo"
      /></a>
    </section>
  </header>

  <!--menu horizontal -->
  <nav id="menu1">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Documentos</a></li>
      <li><a href="#">Normativas</a></li>
      <li>
        <a href="#">Busquedas</a>
        <ul class="submenu">
          <li><a href="#">Autor</a></li>
          <li><a href="#">Carrera</a></li>
          <li><a href="#">Centro</a></li>
          <li><a href="#">Materia</a></li>
          <li><a href="#">Tema</a></li>
          <li><a href="#">Fecha</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!--banner -->

  <section id="banner">
    <img src="../../../assets/img/login/uaaletras.jpg" alt="" />
  </section>
  <!--banner -->

  <section id="contenedor">
    <!--Menu Vertical -->
    <nav id="menu-v">
      <ul>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/buscar.png" alt="" /> Buscar</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/autor.png" alt="" /> Autor</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/carrera.png" alt="" />
            Carrera</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/centro.png" alt="" /> Centro</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/materia.png" alt="" />
            Materia</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/tema.png" alt="" /> Tema</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../../assets/img/login/fecha.png" alt="" /> Fecha</a
          >
        </li>
      </ul>
    </nav>
    <!--Menu Vertical -->

    <!--Contenido -->
    <section id="contenido">
      <div>
        <form>
          <input type="text" name="" placeholder="Que estas buscando?..." />
          <input type="submit" name="" value="Buscar" />
        </form>
      </div>
      <br />
      <br />
      <br />
      <h2>Repositorio Intitucional de la UAA</h2>
      <p>
        El Repositorio Institucional de la UAA permite integrar, publicar y
        consultar los contenidos académicos que genera y resguarda la
        Universidad
      </p>
    </section>

    <!--Contenido -->
  </section>
  <footer>
    Derechos Reservados Copy; 2021 <br />
    Diseñado por: Jose Avila <br />
    www.dominio.com <br />
  </footer>
</body>
