<body>
  <header>
    <section id="logo">
      <a href="#"><img src="../../../assets/img/login/uaa10.png" alt="logo" /></a>
    </section>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </header>



  <section id="contenedor">
    <!--Menu Vertical -->
    <nav id="menu-v">
      <ul>
        <li>
          <a routerLink="/busqueda"><img src="../../../assets/img/login/buscar.png" alt="" /> Buscar</a>
        </li>
        <li>
          <a routerLink="/autor"><img src="../../../assets/img/login/autor.png" alt="" /> Autor</a>
        </li>
        <li>
          <a routerLink="/carrera"><img src="../../../assets/img/login/carrera.png" alt="" />
            Carrera</a>
        </li>
        <li>
          <a routerLink="/centro"><img src="../../../assets/img/login/centro.png" alt="" /> Centro</a>
        </li>
        <li>
          <a routerLink="/materia"><img src="../../../assets/img/login/materia.png" alt="" />
            Materia</a>
        </li>
        <li>
          <a routerLink="/tema"><img src="../../../assets/img/login/tema.png" alt="" /> Tema</a>
        </li>
        <li>
          <a routerLink="/fecha"><img src="../../../assets/img/login/fecha.png" alt="" /> Fecha</a>
        </li>
        <li>
          <a routerLink="/creditos"><img src="../../../assets/img/login/idea.png" alt="" /> Créditos</a>
        </li>
      </ul>
    </nav>
    <!--Menu Vertical -->

    <!--Contenido -->
    <section id="contenido">
      <div id="tit">
        <h1> Busqueda por Tema</h1>
      </div>
      <br>


      <img id="icon" src="../../../assets/img/login/tema2.png" alt="" />


      <input type="text" name="" placeholder="Que estas buscando?..." />
      <input type="submit" name="" value="Buscar" />

      <br>
      <br>
      <br>


      <div class="card-deck">
        <div class="card">
          <!--- <img class="card-img-top" src="../../../assets/img/pdfs/pregunta7.pdf" alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/978-84-96453-38-8.pdf" frameborder="0"
            alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h5 class="card-title"> <a href="../../../assets/img/pdfs/978-84-96453-38-8.pdf" target="_blank">El codigo
                2.0</a></h5>
            <span></span>
            <p class="card-text"><i>En contra de los primeros visionarios de la Red y de su utopía de una Internet
                completamente libre e irregulable, el ciberespacio está a punto…</i> </p>
            <hr>
            <p class="card-text"><b>Lawrence Lessig-Roy L. Furman Professor of Law and Leadership, Harvard
                University</b> </p>
            <hr>
            <p class="card-text">Sistemas Computacionales</p>
            <p class="card-text"><small class="text-muted">codigo, code, historia, tecnologia</small></p>


          </div>
        </div>
        <div class="card">
          <!--   <img class="card-img-top" src="..." alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/155356_Trabajo_final_de_grado.pdf" frameborder="0"
            alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h5 class="card-title"> <a href="../../../assets/img/pdfs/Pregunta8.pdf" target="_blank">Programaci&oacute;n
                de un c&oacute;digo de
                elementos finitos para el calculo de estructuras.
              </a></h5>
            <p class="card-text"> <i> En este proyecto, el MEF se usa para resolver problemas estructurales, la PDE
                que gobierna este tipo de problemas es la ecuacion de la conservaci&oacute;n de cantidad
                de movimiento para solidos continuos. El objetivo principal es la programaci&oacute;n
                de un codigo ....</i></p>
            <hr>
            <p class="card-text"><b> Fabró López, Arnau - 16/06/2020 </b></p>
            <hr>
            <p class="card-text"> Ciencia e ingenier&iacute;a N&aacute;uticas</p>
            <p class="card-text"><small class="text-muted">codigo, programaci&oacute;n </small></p>
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/Lenguaje_de_programacion_C-with-cover-page-v2.pdf"
            frameborder="0" alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h5 class="card-title"> <a href="../../../assets/img/pdfs/Lenguaje_de_programacion_C-with-cover-page-v2.pdf"
                target="_blank">Lenguaje de programaci&oacute;n C</a></h5>
            <p class="card-text">El lenguaje de programación C o lenguaje de programaci&oacute;n de sistemas ofrece una
              economía
              sint&aacute;ctica, control de flujo y estructuras sencillas y un buen conjunto de operadores. Este fue
              creado
              por Brian Kernaghan y Dennis Ritchie a mediados de los años 70s...</p>
            <hr>
            <p class="card-text"> <b> Brian W., and Dennis M. Ritchie. - 17/09/2015</b>
            </p>
            <hr>
            <p class="card-text">Lenguajes de Programaci&oacute;n</p>
            <p class="card-text"><small class="text-muted">codigo, programaci&oacute;n, lenguaje c</small></p>
          </div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card">
          <!--- <img class="card-img-top" src="../../../assets/img/pdfs/pregunta7.pdf" alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/trabajofinaldemaster.pdf" frameborder="0"
            alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h5 class="card-title"> <a href="../../../assets/img/pdfs/978-84-96453-38-8.pdf"
                target="_blank">REUTILIZACI&Oacute;N DE C&Oacute;DIGO FUENTE ENTRE LENGUAJES DE
                PROGRAMACI&Oacute;N</a></h5>
            <span></span>
            <p class="card-text"><i>En el mundo de la industria de desarrollo de software existe gran
                inter&eacute;s por mantener la autor&iacute;a de c&oacute;digos fuente, y preservar el uso
                leg&iacute;timo que se establece a trav&eacute;s de licencias o contratos de uso. En
                el &aacute;mbito acad&eacute;mico, tambi&eacute;n es interesante la detecci&oacute;n de
                reutilizaci&oacute;n con el fin de disuadir al alumnado de la creciente pr&aacute;ctica...</i> </p>
            <hr>
            <p class="card-text"><b>Flores Sáez, Enrique. - 02/2012</b> </p>
            <hr>
            <p class="card-text">Sistemas Inform &aacute;ticos y Computaci&oacute;n</p>
            <p class="card-text"><small class="text-muted">codigo, tecnologia, fuente, reautilizaci&oacute;n</small></p>


          </div>
        </div>
        <div class="card">
          <!--   <img class="card-img-top" src="..." alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/documento.pdf" frameborder="0"
            alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h6 class="card-title"> <a href="../../../assets/img/pdfs/documento.pdf" target="_blank">RUNAROUND:
                APLICACIÓN ORIENTADA A LA ENSEÑANZA Y APRENDIZAJE
                DE LA PROGRAMACIÓN ESTRUCTURADA A TRAVÉS DE ANIMACIONES
                GENERADAS A PARTIR DE CÓDIGO FUENTE
              </a></h6>
            <p class="card-text"> <i> En este proyecto, el MEF se usa para resolver problemas estructurales, la PDE
                que gobierna este tipo de problemas es la ecuacion de la conservaci&oacute;n de cantidad
                de movimiento para solidos continuos. El objetivo principal es la programaci&oacute;n
                de un codigo....</i></p>
            <hr>
            <p class="card-text"><b> Luis Eduardo Salazar Valles. - 10/05/2013 </b></p>
            <hr>
            <p class="card-text">Sistemas Computacionales</p>
            <p class="card-text"><small class="text-muted">c&oacute;digo, programaci&oacute;n, aplicaci&oacute;n,
                ense&ntilde;anza </small></p>
          </div>
        </div>
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap">-->
          <iframe class="card-img-top" src="../../../assets/img/pdfs/aopv3.pdf" frameborder="0"
            alt="Card image cap"></iframe>
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5>-->
            <h5 class="card-title"> <a href="../../../assets/img/pdfs/aopv3.pdf" target="_blank">Visi&oacute;n General
                de la Programaci&oacute;n
                Orientada a Aspectos</a></h5>
            <p class="card-text"> <i> En los primeros estadios de desarrollo de los lenguajes de programación se tenía
                un código en el que no había separación de conceptos, datos y funcionalidad se
                mezclaban sin una línea divisoria clara. A esta etapa se la conoce como la del código
                spaghetti, ya que se tenía una maraña entre datos y funcionalidad que recuerda a la que
                se forma cuando comemos un plato de esta pasta italiana...</i></p>
            <hr>
            <p class="card-text"> <b> Antonia Mª Reina Quintero. - 27/11/2000</b>
            </p>
            <hr>
            <p class="card-text">Lenguajes y Sistemas Inform&aacute;ticos</p>
            <p class="card-text"><small class="text-muted">c&oacute;digo, programaci&oacute;n, orientada,
                historia</small></p>
          </div>
        </div>
      </div>








    </section>

    <!--Contenido -->
  </section>
  <footer>
    Derechos Reservados Copy; 2021 <br />
    www.dominio.com <br />
  </footer>
</body>