<body>
    <header>
        <section id="logo">
            <a href="#"><img src="../../../assets/img/login/uaa10.png" alt="logo" /></a>
        </section>
    </header>

    <!--menu horizontal -->
    <nav id="menu1">
        <ul>
            <li><a routerLink="/paginaprincipal">Inicio</a></li>
            <li><a routerLink="/busqueda">Documentos</a></li>
            <li><a href="/normativas">Normativas</a></li>
            <li>
                <a href="#">Busquedas</a>
                <ul class="submenu">
                    <li><a routerLink="/autor">Autor</a></li>
                    <li><a routerLink="/carrera">Carrera</a></li>
                    <li><a routerLink="/centro">Centro</a></li>
                    <li><a routerLink="/materia">Materia</a></li>
                    <li><a routerLink="/tema">Tema</a></li>
                    <li><a routerLink="/fecha">Fecha</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--banner -->

    <section id="banner">
        <img src="../../../assets/img/login/uaaletras.jpg" alt="" />
    </section>
    <!--banner -->

    <section id="contenedor">
        <!--Menu Vertical -->
        <nav id="menu-v">
            <ul>
                <li>
                    <a routerLink="/busqueda"><img src="../../../assets/img/login/buscar.png" alt="" /> Buscar</a>
                </li>
                <li>
                    <a routerLink="/autor"><img src="../../../assets/img/login/autor.png" alt="" /> Autor</a>
                </li>
                <li>
                    <a routerLink="/carrera"><img src="../../../assets/img/login/carrera.png" alt="" />
                        Carrera</a>
                </li>
                <li>
                    <a routerLink="/centro"><img src="../../../assets/img/login/centro.png" alt="" /> Centro</a>
                </li>
                <li>
                    <a routerLink="/materia"><img src="../../../assets/img/login/materia.png" alt="" />
                        Materia</a>
                </li>
                <li>
                    <a routerLink="/tema"><img src="../../../assets/img/login/tema.png" alt="" /> Tema</a>
                </li>
                <li>
                    <a routerLink="/fecha"><img src="../../../assets/img/login/fecha.png" alt="" /> Fecha</a>
                </li>
                <li>
                    <a routerLink="/creditos"><img src="../../../assets/img/login/idea.png" alt="" /> Créditos</a>
                </li>
            </ul>
        </nav>
        <!--Menu Vertical -->

        <!--Contenido -->
        <section id="contenido">
            <br />
            <h2>Créditos</h2>

            <p>
                Proyecto desarrollado como parte del proyecto de investigacion
                PII-21-1 por:
            </p>
            <ol>
                <li>217419 Edgar Andres Herrera Diaz</li> <br>
                <li>223643 Jose Luis Avila Navarro</li> <br>
                <li>222946 J. Refugio Muñoz Serna</li> <br>
                <li>174478 Diego Nazareth López Zavala</li> <br>
                <li>221718 Jesús Alberto Martínez Méndez</li>
            </ol>



        </section>

        <!--Contenido -->
    </section>
    <footer>
        Derechos Reservados Copy; 2021 <br />
        www.dominio.com <br />
    </footer>
</body>