<body>
    <img class="wave" src="../../../assets/img/login/wave2.png">
    <div class="container">
        <div class="img">
            <img src="../../../assets/img/login/education_login.svg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="../../../assets/img/login/avatar.svg">
                <h2 class="title">Bienvenido</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" placeholder="Correo" class="input">
                    </div>
                </div>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">

                        <input type="password" placeholder="Contraseña" class="input">
                    </div>
                </div>
                <a routerLink="../registro">¿No tienes cuenta? Registrate</a>
                <input type="submit" class="btn" value="Login">

            </form>

        </div>
    </div>
    
</body>