<body>
    <img class="wave" src="../../../assets/img/registro/wave4.png">
    <div class="container">
        
        <div class="login-content">
            <form action="index.html">
                <img src="../../../assets/img/registro/avatar.svg">
                <h2 class="title">Registrate</h2>
                
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" placeholder="Nombre completo" class="input">
                    </div>
                </div>
                
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <input type="text" placeholder="Correo" class="input">
                    </div>
                </div>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" placeholder="Contraseña" class="input">
                    </div>
                </div>
                <a routerLink="../login">¿Ya tienes una cuenta? Logueate</a>
                <input type="submit" class="btn" value="Registrate">

            </form>
        </div>
        <div class="img">
            <img src="../../../assets/img/registro/register.svg">
        </div>
    </div>
    
</body>
